* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

ion-icon {
  opacity: 0.75;
}

.search-buttons {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.search-buttons .search-btn {
  padding: 10px 10px;
  margin: 0 15px;
  color: #555;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
.search-buttons .search-btn:hover {
  border: 1px solid #ccc;
}

.img-btn {
  text-align: center;
}

.adv-body {
  margin: 0;
}

.title {
  padding: 20px;
  color: #d93025;
  font-weight: 700;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
}

.form {
  margin: 1rem;
  height: 400px;
}
.form .form-title {
  margin-bottom: 1rem;
}
.form label {
  display: inline-block;
  min-width: 20px;
  height: 2rem;
}
.form input[type=text1] {
  font-size: 14px;
  padding: 0.4rem;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  width: 300px;
  margin-bottom: 1rem;
}
.form input[type=text1]:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}
.form input[type=submit].submit {
  background-color: #4387fd;
  text-align: center;
  padding: 10px;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
.form input[type=submit].submit:hover {
  background-color: #357ae8;
}

.icon-adv {
  position: relative;
  top: 4px;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.5);
}
footer p {
  padding: 10px;
}
footer li {
  list-style: none;
}
footer li a {
  text-decoration: none;
  color: currentColor;
}
footer li a:hover {
  text-decoration: underline;
}
footer .about {
  border-top: 1px solid #ccc;
}
footer .about .items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7px;
}
footer .about .terms {
  padding-bottom: 15px;
}

.header, .header-advanced {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.header .subpage-links, .header-advanced .subpage-links {
  text-decoration: none;
  color: black;
}
.header .subpage-links:first-child, .header-advanced .subpage-links:first-child {
  margin-right: 1em;
}
.header .subpage-links:hover, .header-advanced .subpage-links:hover {
  text-decoration: underline;
  color: #4584ef;
}
.header .header-buttons:first-child, .header-advanced .header-buttons:first-child {
  margin-right: 0.5em;
}
.header .header-buttons:first-child:hover, .header-advanced .header-buttons:first-child:hover {
  cursor: pointer;
}
.header .sign-in, .header-advanced .sign-in {
  background-color: #4584ef;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 14px;
  cursor: pointer;
  position: relative;
  top: -10px;
}
.header .sign-in:hover, .header-advanced .sign-in:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.logo {
  width: 80%;
  margin: 0 auto 30px;
}

.img-logo {
  margin-left: -10px;
  max-width: 300px;
}

.search {
  max-width: 400px;
  margin: 0 auto;
}

.icons {
  width: 90%;
  margin: 0 auto;
  display: flex;
  position: relative;
}
.icons .search-bar {
  width: 100%;
  max-width: 310px;
  padding: 10px 50px;
  border: 1px solid #dfe1e5;
  border-radius: 30px;
  margin-bottom: 1.5rem;
}
.icons .search-bar:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
  cursor: pointer;
}
.icons .search-icons {
  width: 12%;
  padding: 10px;
  position: absolute;
  pointer-events: none;
}
.icons .search-icons .mic {
  position: relative;
  left: 16.7rem;
  bottom: 0.15rem;
}

.language {
  text-align: center;
  font-size: small;
}
.language a {
  text-decoration: none;
  color: #4584ef;
}
.language a:hover {
  text-decoration: underline;
}

.header-advanced {
  background-color: #f1f1f1;
  padding: 1rem;
  margin-bottom: 0;
}
.header-advanced .icon-adv {
  margin-right: 1rem;
}
.header-advanced .icon-adv:hover {
  cursor: pointer;
}

@media (min-width: 460px) {
  .header, .header-advanced {
    justify-content: flex-end;
  }
  .header .subpage-links:last-child, .header-advanced .subpage-links:last-child {
    margin-right: 2rem;
  }

  .search {
    margin-top: 6rem;
  }

  .about {
    display: flex;
    justify-content: space-between;
  }
  .about .items li {
    margin-right: 1rem;
  }

  .img-adv-search {
    position: absolute;
    left: 1rem;
    top: 1rem;
  }

  .inputs {
    display: flex;
    flex-direction: column;
  }

  label {
    padding: 10px;
    height: 50px;
  }

  input[type=text1] {
    height: 2.5rem;
  }

  input[type=submit].submit {
    margin-top: 4rem;
  }

  .text-input {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
  }
}/*# sourceMappingURL=main.css.map */