$main-color: rgb(0,0,0);
$active-link-color: #4584ef;
$bg-signin-button: #4584ef;
$signin-color: #fff;
$bg-footer: #f2f2f2;
$footer-text-color: rgba(0, 0, 0, 0.5);
$footer-border-top: #ccc;
$bg-header-advanced: #f1f1f1;
$adv-header-color: #d93025;
$adv-header--border-bottom: #ccc;
$adv-input--border: #d9d9d9;
$adv-input--border-top:  #c0c0c0;
$adv-input--hover-shadow: rgba(32,33,36,.28);
$adv-submit--bg-color: #4387fd;
$adv-submit--text-color: #fff;
$adv-submit--hover-color: #357ae8;



