@import "../base/variables";

@mixin button {
    background-color: $bg-signin-button;
    color: $signin-color;
    border: none;
    border-radius: 3px;
    padding: 8px 14px;
    cursor: pointer;
    &:hover {
        box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    }
}

.search-buttons {
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;

    .search-btn {
        padding: 10px 10px;
        margin: 0 15px;
        color: #555;
        border: 1px solid transparent;
        border-radius: 4px;
        cursor: pointer;
    
        &:hover {
            border: 1px solid #ccc;
        }
}

}

.img-btn {
    text-align: center;
}